.Banner-Image {
    position: relative; /* Để làm điểm tham chiếu cho absolute */
}

// .Banner-Image img {
//     width: 100%;
//     height: 90vh;
//     filter: blur(0.5px);
   
// }
.Banner-Image video {
    position: relative;
    display: block;
    width: 100vw; /* Chiếm toàn bộ chiều rộng màn hình */
    height: 90vh; /* Chiếm 90% chiều cao của màn hình */
    object-fit: cover; /* Giữ tỉ lệ video và cắt phần thừa để vừa khung */
    overflow: hidden;
    max-width: 100%;
    overflow-x: hidden;
    border: 1px solid #fff;
 }
 .services {
    position: relative;
    bottom: 50vh;
    left: 25%;
    width: 80%; // Giới hạn chiều rộng để không bị tràn
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px 20px;
    z-index: 2;

    .containerr {
        max-width: 800px; // Giới hạn chiều rộng của nội dung
        margin: 0 auto;

        .title1 {
            font-size: 32px;
            font-weight: bold;
            color: #9a9595;
            margin-bottom: 10px; // Thêm khoảng cách giữa các dòng
        }

        .title2 {
            font-size: 18px;
            color: #5b5a5a;
            line-height: 1.5; // Giúp văn bản dễ đọc hơn
        }
    }
}