.admin-container{
    display: flex;
    .admin-sidebar{
        .pro-sidebar{
            height: 100vh !important;
        }
    }
    // .admin-content {
    //     width: 100%;
    //     .admin-main{
    //         position: relative;
    //         left: 250px;
    //         height: calc(100vh - 50px);
    //         .btn-Paginate{
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;
    //         }
    //     }
        
    // }
    .admin-content {
        flex-grow: 1;
        transition: margin-left 0.3s ease;

        // &.sidebar-open {
        //     margin-left: 250px;
        // }

        // &.sidebar-close {
        //     margin-left: 80px;
        // }

        .admin-main {
            height: calc(100vh - 90px);
            overflow: hidden;
            height: 100%;

            .scroll-container {
                height: 100%;
            }
        }
    }
}