.doctor-container {
    display: flex;
    overflow: hidden;
    height: 100vh;

    .doctor-sidebar {
        .pro-sidebar {
            height: 100vh !important;
        }
    }

    .doctor-content {
        flex-grow: 1;
        transition: margin-left 0.3s ease;

        .doctor-main {
            height: calc(100vh - 90px);
            overflow: hidden;
            height: 100%;

            .scroll-container {
                height: 100%;
            }
        }
    }
}
