
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }.Sp-bodyy{
    width: 100%;
    height: 0px !important;
    .Container{
        height: 800px;
        background-color: #EAF6FD;
        display: flex;
        flex-direction: column;
        .Text{
            position: relative;
            margin-top: 20px;
            
            margin-left: 40px;
            margin-bottom: 70px;
            span{
                font-size: 20px;
                font-weight: 700;
                padding: 10px;
                cursor: pointer;
                &:hover{
                    color: #35B8FF;
                }
            }
    
        }.Content{
            width: 100%;
            gap: 70px;
            display: flex;
            .Infor{
                margin-left: 100px;
                width: 280px;
                height: 270px;
                .TInfor{
                    width: 100%;
                    height: 61px;
                    background-color: #35B8FF;
                    border-radius: 15px 15px 0 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 20px;
                    span{
                        color: #fff;
                        font-weight: 600;
                        font-size: 18px;

                    }
                }
                .KInfor{
                    height: 209px;
                    width: 100%;
                    background-color: #ffffff;
                    border-radius: 0 0 15px 15px;
                    padding:5px;
                    .item{
                        padding-bottom: 20px;
                        padding: 5px;
                    }
                }
            }
            .Action{
                width: 780px;
                height: 560px;
                .TAction{
                    width: 100%;
                    height: 61px;
                    background-color: #35B8FF;
                    border-radius: 15px 15px 0 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 20px;
                    span{
                        color: #fff;
                        font-weight: 600;
                        font-size: 18px;

                    }
                }
                .KAction{
                    height: 499px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    background-color: #ffffff;
                    border-radius: 0 0 15px 15px;
                    padding:5px;
                    .group {
                        display: flex;
                        line-height: 28px;
                        align-items: center;
                        position: relative;
                        max-width: 90%;
                        margin-top: 10px;
                        .input {
                            width: 700px;
                            height: 50px;
                            line-height: 28px;
                            
                            padding: 0 1rem;
                            padding-left: 2.5rem;
                            border: 2px solid transparent;
                            border-radius: 8px;
                            outline: none;
                            border: 1px solid rgb(185, 184, 184);
                            background-color: #f3f3f4;
                            color: #0d0c22;
                            transition: .3s ease;
                           }
                           
                           .input::placeholder {
                            color: #9e9ea7;
                           }
                           
                           .input:focus, input:hover {
                            outline: none;
                            border-color: rgba(234,76,137,0.4);
                            background-color: #fff;
                            box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
                           }
                           
                           .icon {
                            position: absolute;
                            left: 1rem;
                            fill: #9e9ea7;
                            width: 1rem;
                            height: 1rem;
                           }
                            .icons{
                                margin-top: 5px;
                            }
                           }
                           .PAction{
                            overflow-y: auto;
                            width: 700px;
                            height: 490px;
                            .itemm{
                                width: 100%;
                                cursor: pointer;
                                height: 85px;
                                border-top: 1px solid;
                                padding: 20px;
                                &:hover{
                                    color: #35B8FF;
                                }
                                span{
                                  font-size: 18px;  
                                  font-weight: 500;
                                  font-family: 'Roboto';
                                }
                            }
                        }
                        .opAction{
                            width: 100%;
                            height: 300px;
                            .close{
                                cursor: pointer;
                                &:hover{
                                    color:#35B8FF
                                }
                            }
                            .SchAction{
                                display: flex;
                                flex-wrap: wrap;
                                gap: 10px;
                                margin-left: 30px;
                                margin-top: 10px;
                                .itemSchedule{
                                    cursor: pointer;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 160px;
                                    height: 45px;
                                    border-radius: 50px;
                                    color: #35B8FF;
                                    border: 1px solid #35B8FF;
                                    font-size: 14px;
                                    padding: 5px 10px;
                                    &:hover{
                                        background-color: #35B8FF;
                                        color: #fff;
                                    }
                                }
                            }
                         
                        }
                       }
                }
            }
           
        }
        .buttonClick {
            background-color:#35B8FF   ;     /* xanh ngọc nhạt */
            color: white;                  /* chữ trắng */
            border: none;
            border-radius: 999px;          /* bo tròn kiểu viên thuốc */
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
          }
          
          
}